*
	margin: 0
	box-sizing: border-box

body
	background-color: #F4D04E
	align-content: center

.container
	margin: auto
	background-color: #fff
	width: 384px
	height: 522px
	border: 1px solid #111111
	border-radius: 20px
	padding: 24px
	box-shadow: 8px 8px 0 0 #000

